.product {
    border: 2px solid red;
    box-sizing: content-box;
    margin: 1rem;
    background-color: aliceblue;
    color: black;
}

.product img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}