@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg: white;
    --color-fg: black;
    --color-fg2: silver;
    --color-high: #0000ff;
    /* for the dark mode " hence the d" */
    --color-bg-d: black;
    --color-fg-d:white;
    --color-fg2-d: silver;
    --color-high-d: #0000ff;

    --font-sans: 'Vazirmatn', ui-sans-serif, sans-serif;
}
/* this is for motion*/
@layer base {
  :root {
    --bg: rgb(255, 255, 255);
    --fg: black;
    --fg2: silver;
    --high: #0000ff;
    /* the dark colors */
    --bg-d: black;
    --fg-d: white;
    --fg2-d: silver;
    --high-d: #0000ff;
  }
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }
}

img {
    object-fit: contain;
}

.rating span {
    color: gold;
}

.loader {
  width: 88px;
  height: 88px;
  margin-left: calc(50% - 44px);
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 2px solid;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}